<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ curent_rubric.name }}</title>
</head>
<body>
<h1>Объявления</h1>
<h2>Категория: {{ curent_rubric.name }}</h2>


<div>
  <a href="/main_page/">Главная</a>
  {% for rubric in rubrics %}
  <a href="/main_page/{{ rubric.pk }}/">{{ rubric.name }}</a>
  {% endfor %}
</div>


{% for apart in aparts %}
<div>
  <h2>{{ apart.title }}</h2>
  <p>{{ apart.content }}</p>
  <p>{{ apart.address }}</p>
  <p>Площадь: {{ apart.apartment_area }} Кв.М.</p>
  <p>Цена: {{ apart.price }} RUB </p>
  <p>Опубликовано: {{ apart.published|date:"d.m.Y H:i:s" }}</p>
</div>
<hr>
{% endfor %}
</body>
</html>