{% extends 'base.html' %}

{% block title %}

  Добавление Объявлений

{% endblock %}



{% block content %}
<body>

<div>
  <a href="{% url 'main_page:index' %}">Главная</a>
  {% for rubric in rubrics %}
  <a href="{% url 'main_page:by_rubric' rubric.pk %}">{{ rubric.neme }}</a>
  {% endfor %}
</div>

<form class="form-horizontal form_middle" enctype='multipart/form-data' method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Добавить" >
</form>

</body>
{% endblock %}
</html>